<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-BwB+THbkAVDz+1JzChGvjaIIC1GT8XXZ0sgvNEhtgVlLAsZ4Gz5jtqoOU3Mi+3hfQ1SBTf+8jtW5K+K52sCbvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/dashboard.css">
    
</head>
<body>
    
    <div class="Dashboard">
        <div class="Container Dashboard-Home">Dashboard
            <p class=" Container Dashboard-Home-Content">
            <Link to="/admin-login/dashboard">Home</Link>
            <MdOutlineNavigateNext/><Link to="/admin-login/dashboard">Dashboard</Link></p>
        <div class=" Button Settings" ><i class="bi bi-gear-fill"></i></div>
        </div>
        <div class=" Container Dashboard-Topdivs">
           <div class="Container fourdivs">
               <div class="Container fourdivtop"> <p class=" Container Total-Orders">TOTAL ORDERS</p>
               <p class="zero">0%</p>
               </div>
               <div class="Container fourdivcenter">
           <ImCart/><h5 class="Container numbers">381</h5>
               </div>
               <div class="Container fourdivbottom">View more...</div>
               </div>
           <div class="Container fourdivs">
           <div class="Container fourdivtop"><p class="Container Total-Sales">TOTAL SALES</p>
           <p class="Container zero">0%</p>
           </div>
           <div class="Container fourdivcenter">
               <FaRegCreditCard/><h5 class="Container numbers" style>98.2K</h5>
           </div>
           <div class="Container fourdivbottom">View more...</div>
           </div>
           <div class="Container fourdivs">
           <div class="Container fourdivtop"><p class="Container Total-Customers">TOTAL CUSTOMERS</p>
           <p class="Container zero">0%</p>
           </div>
           <div class="Container fourdivcenter">
            <i class="fa fa-user"></i>
            <h5 class="Container numbers" style>815</h5>
    
           </div>
           <div class="Container fourdivbottom">View more...</div>
        </div>
           <div class="Container fourdivs">
           <div class="Container fourdivtop"><p class="Container People-Online">PEOPLE ONLINE</p>
           <p class="Container zero">0%</p>
           </div>
           <div class="Container fourdivcenter"><TiGroup/><h5 class="Container numbers" style=>0</h5></div>
           <div class="Container fourdivbottom">View more...</div>
           </div>
        </div>
    </div>
    <div class="img1">
        <div class="card bg-light mb-3 image2" style="max-width: 18rem;">
            <div class="card-header">World Map</div>
              <img src="/demo/static/images/doll.png" alt="">
          </div>
          <div class="card bg-light mb-3 image2" style="max-width: 18rem;">
            <div class="card-header">Sale Analytics</div>
              <img src="/demo/static/images/doll.png" alt="">
          </div>
    </div>
    <div class="new">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Featured
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
            </ul>
          </div>
        <table class="table table-data">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>