{% include "nav.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="../static/manage_users.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <a href="{% url 'Profile' %}" class="add-Profile">
        <i class="fas fa-plus"></i> 
    </a>
<h2 >Manage Users</h2>
<p>Use the below form to update your profile</p>
    <div class="table-container"> 
        <table>
            <thead>
                <tr>
                    <th></th> 
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Designation</th>
                    <th>Password</th>
                    <th>confirm_password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                <tr>
                    <td><input type="checkbox" name="select_profile" value="{{ profile.id }}"></td> <!-- Checkbox column -->
                    <td>{{ profile.name }}</td>
                    <td>{{ profile.email }}</td>
                    <td>{{ profile.contact }}</td>
                    <td>{{ profile.designation }}</td>
                    <td>{{ Profile.Password}}</td> 
                    <td>{{ profile.confirm_password}}</td> 
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'edit_profile' profile.id %}" class="edit">
                                <i class="fas fa-edit"></i> 
                            </a>
                            <form action="{% url 'delete_profile' profile.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="delete">
                                    <i class="fas fa-trash-alt"></i> 
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
