<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/panel.css">
    <title>Login Page</title>
</head>
<body>
    <div>
        <nav class="navbar">
            <img src="../static/images/logo-admin.png" alt="Administration Logo">
        </nav>
        <div  >
            <div class="login">
                <div class="login-container">
                    <form id="login-form" method="POST">
                        <h2>Log in as an admin user</h2>
                        <div class="input-group">
                            <input type="text" id="username" name="username" placeholder="User Name" autocomplete="off">
                            <span class="error" id="username-error">Invalid user name</span>
                        </div>
                        <div class="input-group">
                            <input type="password" id="password" name="password" placeholder="Password" autocomplete="off">
                            <span class="error" id="password-error">Invalid password</span>
                        </div>
                        <button type="submit" class="Login">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value.trim();
            const password = document.getElementById('password').value.trim();

            let valid = true;

            if (username === '') {
                document.getElementById('username-error').style.display = 'block';
                valid = false;
            } else {
                document.getElementById('username-error').style.display = 'none';
            }

            if (password === '') {
                document.getElementById('password-error').style.display = 'block';
                valid = false;
            } else {
                document.getElementById('password-error').style.display = 'none';
            }

            if (valid) {
                this.submit();
            }
        });
    
    </script>
</body>
</html>