body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(images/0b87edb6-e786-4e37-a3b7-e21b41bcab53.jpeg);
    background-repeat: no-repeat;
    position: fixed;
    display: flex;
    height: 500px;
}

.login-container {
    width: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(251, 239, 241);
    margin-left: 456px;
    margin-top: 162px;
    display: flex;
    justify-content: space-between;
    height: 410px;
    border-radius: 5px; 
    
}

form {
    width: 88%;
    max-width: 400px;
    margin: 0 auto;
    margin-right: 125px;
}

h2 {
    margin-bottom: -19px;
    color: black;
    display: inline-block; 
    padding-bottom: 8px; 
    font-size: 19px;
    font-weight: bold;
    margin-left: 17px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 72px;
}

h2::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 15%; 
    height: 4px; 
    background-color:#9a1b69; 
    border-radius: 2px; 
}

h2::after {
    content: none; 
}
.input-group {
    margin-bottom: 30px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 34px); 
    padding: 14px;
    border: 2px solid #9a1b69;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 16px;
    color: black !important;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
}

button {
        width: 23%;
        padding: 10px;
        background-color: #9a1b69;
        color: #fff;
        border: none;
        border-radius: 23px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 10px;
        height: 35px;
        text-align: center;
        margin-left: 316px;
}


.error {
    color: red;
  font-size: 14px;
  margin-left: 11px;
  display: none;
  padding: 7px;
  position: absolute;
}
  
 .navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        width:172%;
        height: 69px;
        box-shadow:0 4px 8px rgba(82, 3, 58, 0.2);
        margin-bottom: 20px;
        margin-left: 2px;
    }

.navbar img {
    height: 40px; 
    margin-right: 15px; 
    margin-left: 617px;
}

.navbar h1 {
    font-size: 24px;
    color: #00aaff;
    margin: 0;
}
.login{
    justify-content: center;
    align-items: center;
}